.about-me {
  padding: 5rem 2rem;
  background-color: blueviolet;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__contacts {
  display: flex;
  /* flex-direction: column; */
}
