
.intro {
  background-color: coral;
  padding: 9rem 4rem 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 35rem;

  }

  &__block {
    max-width: 20rem;
  }

  &__block h1 {
    text-align: center;
    margin-bottom: 1rem;
  }


  &__block p {
    /* max-width: 20rem; */
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }
}



